#area {
    position: relative;
    background-color: #c1f1d9;
    margin: 1em auto;
    border-color:grey;
    border-width: 5px;
    border-style: solid;

  }
  .ball {
    background-color: black;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
  }
  